# MySQL Database connectivity with Python

In [4]:
# Installing required package for establishing the connectivity
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [2]:
import pymysql as sql

In [5]:
conn=sql.connect(user='root',host='localhost',password='     ',db='python')

In [4]:
cur=conn.cursor()

In [6]:
q1='create table student(id int ,name varchar(20),course varchar(20),specialization varchar(20),\
   fee float)'

In [ ]:
cur.execute(q)

In [15]:
cur.execute("delete from student where id=1")

2

In [17]:
cur.execute('insert into student values(1,"Ankit","MCA","ML",130000.0)')

1

In [5]:
conn.commit()

In [20]:
no=int(input("how many records you want to enter ="))
for i in range(no):
    id=int(input("enter the id= "))
    name=input("enter the name=")
    course=input("enter the courese=")
    dept=input("enter the specialization=")
    fee=float(input("enter the fee ="))
    cur.execute(f'insert into student values({id},"{name}","{course}","{dept}",{fee})')

how many records you want to enter =3
enter the id= 69
enter the name=piyush
enter the courese=MCA
enter the specialization=ML
enter the fee =100000
enter the id= 81
enter the name=robot
enter the courese=MCA
enter the specialization=dotnet
enter the fee =120000
enter the id= 52
enter the name=jayant
enter the courese=MCA
enter the specialization=AI
enter the fee =130000

In [21]:
conn.commit()

In [22]:
cur.execute("select * from student")

4

In [23]:
cur.fetchall()

((1, 'Ankit', 'MCA', 'ML', 130000.0),
 (69, 'piyush', 'MCA', 'ML', 100000.0),
 (81, 'robot', 'MCA', 'dotnet', 120000.0),
 (52, 'jayant', 'MCA', 'AI', 130000.0))