# MySQL Database connectivity with Python

In [ ]:
# Installing required package for establishing the connectivity
!pip install pymysql

In [1]:
import pymysql as sql

In [2]:
conn=sql.connect(user='root',host='localhost',password='     ',db='organisation')

In [3]:
cur=conn.cursor()

In [4]:
q1="""CREATE TABLE Worker ( WORKER_ID INT NOT NULL PRIMARY KEY 
AUTO_INCREMENT, FIRST_NAME CHAR(25), LAST_NAME CHAR(25), 
SALARY INT(15), JOINING_DATE DATETIME, DEPARTMENT CHAR(25) 
);"""
cur.execute(q1)

0

In [5]:
# commit is used to save the changes made by execute() command permanently in database
conn.commit()

In [15]:
q2="""INSERT INTO Worker (WORKER_ID, FIRST_NAME, LAST_NAME, SALARY, 
JOINING_DATE, DEPARTMENT) VALUES 
(001, 'Monika', 'Arora', 100000, '14-02-20 09.00.00', 'HR'), 
(002, 'Niharika', 'Verma', 80000, '14-06-11 09.00.00', 
'Admin'), 
(003, 'Vishal', 'Singhal', 300000, '14-02-20 09.00.00', 'HR'), 
(004, 'Amitabh', 'Singh', 500000, '14-02-20 09.00.00', 
'Admin'), 
(005, 'Vivek', 'Bhati', 500000, '14-06-11 09.00.00', 'Admin'), 
(006, 'Vipul', 'Diwan', 200000, '14-06-11 09.00.00', 
'Account'), 
(007, 'Satish', 'Kumar', 75000, '14-01-20 09.00.00', 
'Account'), 
(008, 'Geetika', 'Chauhan', 90000, '14-04-11 09.00.00', 
'Admin');"""

In [26]:
conn.commit()

In [31]:
cur.execute("select * from worker")

8

In [32]:
print(*list(cur.fetchall()),sep="\n")

(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')
(5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
(6, 'Vipul', 'Diwan', 200000, datetime.datetime(2014, 6, 11, 9, 0), 'Account')
(7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Account')
(8, 'Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin')

In [37]:
cur.execute("select * from worker")

8

In [36]:
print(list(cur.fetchone()))

[1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR']

In [38]:
print(*list(cur.fetchmany(4)),sep="\n")

(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR')
(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')